{% extends 'base.html'%}
{% block content %}
<section class="container">
   <div id=todos-form class="row">
      <div class="col" a>
         <!-- A column inside a row inside a container! -->
         <form action="" method="post">
            {{ form.csrf_token }}
            <p>
               {{ form.task_name.label }}<br>
               {{ form.task_name(size=32) }}<br>
               {% if form.task_name.errors %}
               <span style="color: red;">{{ form.task_name.errors[0] }}</span>
               {% endif %}
            </p>
            <p>
               {{ form.due_date.label }}<br>
               {{ form.due_date(size=32) }}<br>
               {% if form.due_date.errors %}
               <span style="color: red;">{{ form.due_date.errors[0] }}</span>
               {% endif %}
            </p>
            <p>
               {{ form.description.label }}<br>
               {{ form.description(size=64, height=20) }}<br>
               {% if form.description.errors %}
               <span style="color: red;">{{ form.description.errors[0] }}</span>
               {% endif %}
            </p>
            <p>
               {{ form.status.label }}<br>
               {{ form.status() }}<br>
               {% if form.status.errors %}
               <span style="color: red;">{{ form.status.errors[0] }}</span>
               {% endif %}
            </p>
            <div class="row-1">
               <p>{{ form.submit() }} <a href="/todos" class="cancel-button" style="padding: 10.5px 16px;">Cancel</a>
               </p>
            </div>
         </form>
      </div>
   </div>
</section>
{% endblock %}