{% extends 'base.html'%}
{% block content %}
<section class="container">
    <!-- <style>
       /* CSS for the progress bar */
       .progress-bar {
          width: 100%;
          background-color: #f1f1f1;
       }

       .progress {
          height: 30px;
          background-color: #4CAF50;
          text-align: center;
          line-height: 30px;
          color: white;
       }
    </style> -->
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }


        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .applications {
            list-style: none;
            padding: 0;
        }

        .application {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 15px;
        }

        .application-id {
            font-weight: bold;
            margin-bottom: 5px;
            text-align: center;
            font-size: medium;
        }

        .progress-bar {
            background-color: #f1f1f1;
            border-radius: 5px;
            height: 20px;
        }

        .progress {
            background-color: #4CAF50;
            border-radius: 5px;
            height: 100%;
            color: white;
            text-align: center;
            font-size: medium;
            line-height: 20px;
            padding: 0px 10px;
        }
    </style>
    <div class="container">
        <div class="col">
            <div>
                {{ message }}
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% if applications|length == 0 %}
    <div id="application-header" class="row">
        <a href="{{ url_for('applications.create_application') }}">
            <button class="add_button">Create New Application</button>
        </a>&nbsp;&nbsp;&nbsp;
        {% if userrole == "employee" %}
        <a href="{{ url_for('applications.customer_list') }}">
            <button class="add_button">Credit Score Check</button>
        </a>
        {% endif %}
    </div>
    {% else %}
    <div class="container">
        <div class="header">
            <h1>Welcome {{ customer.first_name }} {{ customer.last_name }}</h1>
        </div>
        <div class="row" style="padding: 40px 50px;">
            {% for application in applications %}
            <div class="col-md-10">

                <ul id="round">
                    <h3 style="text-align: center;  color: #e18b1b">{{ application.application_type }} Application</h3>
                    <br>
                    <li> Application ID: {{ application.id }} </li>
                    <li>Submitted On:{{ application.created_date.strftime('%A, %d %b, %Y') }}</li>
                    <li> Last Updated: {{ application.updated_date.strftime('%A, %d %b, %Y') }}</li>
                    <br>
                    <li>Status: {{ application.status.value }}</li>
                    <br>
                    <div class="progress-bar">
                        <div class="progress" style="width: {{ application.status_percentage }}%;">
                            {{ application.status.value }}
                        </div>
                    </div>

                    <div style="display: flex; justify-content: space-between; padding: 40px 50px; ">
                        <a style="text-align: right;"
                           href="{{ url_for('applications.withdraw_application', id=application.id, customer_id=customer.passport_no) }}"></a>
                        <div class="css-16i2xin">
                            <span>
                                <a href="{{ url_for('applications.withdraw_application', id=application.id, customer_id=customer.passport_no) }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </span>
                        </div>
                        </span>

                    </div>
                </ul>

            </div>
            {% endfor %}
        </div>
        {% endif %}




        <!-- <ul class="applications">
           {% for application in applications %}
           <li class="application">
              <div class="application-id"> Application ID: {{ application.id }}</div>
              <div class="progress-bar">
                 <div class="progress" style="width: {{ application.status_percentage }}%;">
                    {{ application.status.value }}
                 </div>
              </div>


           </li>
           {% endfor %}
        </ul> -->
    </div>


</section>

<!-- <script>
   function updateDate() {
      const dateElement = document.querySelector(".calendar-fold");
      const currentDate = new Date();
      dateElement.textContent = currentDate.toLocaleString();
      dateElement.classList.add("change-date");
      setTimeout(() => {
         dateElement.classList.remove("change-date");
      }, 1000);
   }

   setInterval(updateDate, 5000); // Update the date every 5 seconds (adjust as needed)
</> -->
{% endblock %}



<!-- {% for todo in todos %}
      <div class="col-md-4">
         <ul id="round">
            <h3 style="text-align: center;  color: #e18b1b">{{ application.task_name }}</h3>
            <br>
            <li>{{ todo.due_date.strftime('%A, %d %b, %Y') }}</li>
            <br>
            <li>Status: {{ todo.status }}</li>
            <br>
            <div style="display: flex; justify-content: space-between;">
               <a style="text-align: right;" href="{{ url_for('tasks.edit_task', id=todo.id) }}">Edit</a>
               <a href="{{ url_for('tasks.delete', id=todo.id) }}">Delete</a>
            </div>
         </ul>
      </div>
      {% endfor %} -->