{% extends 'base.html'%}
{% block content%}
<section class="container">
    <div id=creditcheck_customerForm>
        <div class="col">
            <p class="creditcheck_h1"> Credit Check Customer Form</p>
            <form action="{{ url_for('creditchecks.credit_score_submit') }}" method="post">
                {{ form.csrf_token }}
                <div class="row">
                    <p>
                        {{ form.nin.label }}<br>
                        {{ form.nin(size=32) }}<br>
                        {% if form.nin.errors %}
                        <span style="color: red;">{{ form.nin.errors[0] }}</span>
                        {% endif %}
                    </p>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p>
                        {{ form.full_name.label }}<br>
                        {{ form.full_name(size=32) }}<br>
                        {% if form.full_name.errors %}
                        <span style="color: red;">{{ form.full_name.errors[0] }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ form.date_of_birth.label }}<br>
                        {{ form.date_of_birth(size=32) }}<br>
                        {% if form.date_of_birth.errors %}
                        <span style="color: red;">{{ form.date_of_birth.errors[0] }}</span>
                        {% endif %}
                    </p>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=25) }}<br>
                        {% if form.nin.errors %}
                        <span style="color: red;">{{ form.email.errors[0] }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ form.address_line1.label }}<br>
                        {{ form.address_line1(size=32) }}<br>
                        {% if form.address_line1.errors %}
                        <span style="color: red;">{{ form.address_line1.errors[0] }}</span>
                        {% endif %}
                    </p>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p>
                        {{ form.address_line2.label }}<br>
                        {{ form.address_line2(size=32) }}
                        {% if form.address_line2.errors %}
                        <span style="color: red;">{{ form.address_line2.errors[0] }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ form.city.label }}<br>
                        {{ form.city(size=32) }}
                        {% if form.city.errors %}
                        <span style="color: red;">{{ form.city.errors[0] }}</span>
                        {% endif %}
                    </p>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p>
                        {{ form.province.label }}<br>
                        {{ form.province(size=32) }}
                        {% if form.province.errors %}
                        <span style="color: red;">{{ form.province.errors[0] }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ form.postal_code.label }}<br>
                        {{ form.postal_code(size=32) }}
                        {% if form.postal_code.errors %}
                        <span style="color: red;">{{ form.postal_code.errors[0] }}</span>
                        {% endif %}
                    </p>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p>
                        {{ form.country.label }}<br>
                        {{ form.country(size=32) }}
                        {% if form.country.errors %}
                        <span style="color: red;">{{ form.country.errors[0] }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="button">
                    <p>{{ form.submit() }}</p>
                </div>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</section>
{% endblock %}