{% extends 'base.html'%}
{% block content%}
<section class="container">
    <div id=todos-form class="row">

        <div class="col">

            <div class="header" style="padding: 5px">
                <h1>Password Recovery</h1>
            </div>
            <div>
                <form action='/forgot_password' method="post" style="color: white">
                    <div class="col">
                        <div>
                            <br>
                            <label for="email">Email:</label>
                            <input type="email" name="email" required style="padding: 10px 100px; width: fit-content;">
                        </div>

                        <div>
                            <!-- <input type="submit" class="delete-button" style="padding: 10.5px 16px; width: fit-content;"
                                value="Reset Password"> -->
                            <br>
                            <button type="submit" style="padding: 10.5px 16px; width: fit-content;">Reset
                                Password</button>

                            <a href="/home" class="cancel-button" style="padding: 14px 46px;">Cancel</a>
                        </div>
                    </div>


                </form>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

        </div>
    </div>


</section>
{% endblock%}