{% extends 'base.html'%}
{% block content %}
<section class="container">

   <div id="login-form" class="row">
      <div class="col">
         <form action="{{ url_for('logins.login') }}" method="post" novalidate>
            {{ form.csrf_token }}
            <p>
               {{ form.email.label }}:<br>
               {{ form.email(size=32) }} <br>
               {% if form.email.errors %}
               <span class="error">{{ form.email.errors[0] }}</span>
               {% endif %}
            </p>
            <p>
               {{ form.password.label }}<br>
               {{ form.password(size=32) }}<br>
               {% if form.password.errors %}
               <span class="error">{{ form.password.errors[0] }}</span>
               {% endif %}
            </p>
            <p style="text-align: right;"><a href="{{ url_for('logins.forgot_password') }}">Forgot your password?</a></p>
            <p>
               {{ form.role_type.label }}<br>
               {{ form.role_type(class="form-control") }} {# Use appropriate CSS class if needed #}
               {% if form.role_type.errors %}
               <span style="color: red;">{{ form.role_type.errors[0] }}</span>
               {% endif %}
            </p>
            <p>{{ form.submit() }}</p>

         </form>
         <p>Don't have an account? <a href="{{ url_for('logins.register') }}">Apply Now</a></p>
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul class="flash-messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
      </div>
   </div>
</section>
{% endblock %}